{% extends 'patient/Index.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Medical History</h1>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <p>Asthma, Diabetes, Epilepsy, etc., conditions that you have or any member of your family has.</p>
                    <label for="FamilyTree" class="form-label">List this type of disease:</label>
                    <div id="FamilyTree" class="form-control-plaintext">{{ medical_history.FamilyTree|default_if_none:'' }}</div>
                </div>
                <div class="mb-3">
                    <p>Any symptoms that you have like chest pain, shortness of breath, etc.</p>
                    <div id="symptoms" class="form-control-plaintext">{{ medical_history.symptoms|default_if_none:'' }}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Are you taking any medication?</label>
                    <div class="form-control-plaintext">
                        {% if medical_history and medical_history.takingMedication == 'Y' %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="listmedication" class="form-label">List Medication:</label>
                    <div id="listmedication" class="form-control-plaintext">{{ medical_history.listmedication|default_if_none:'' }}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Do you have any medication allergies?</label>
                    <div class="form-control-plaintext">
                        {% if medical_history and medical_history.medicationAllergies == 'Y' %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Do you use tobacco?</label>
                    <div class="form-control-plaintext">
                        {% if medical_history and medical_history.usetobacol == 'Y' %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="alcohol" class="form-label">Alcohol Use:</label>
                    <div id="alcohol" class="form-control-plaintext">
                        {{ medical_history.alcohol|default_if_none:'Not specified' }}
                    </div>
                </div>
            </div>
        </div>
    </div>         
</div>

{% endblock %}
