{% extends 'doctor/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <h1>Appointment List</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Message</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        {% if not appointment.id in prescriptions %}
                            <tr>
                                <td>{{ appointment.id }}</td>
                                <td>{{ appointment.patient }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.message }}</td>
                                <td>
                                   <a href="{% url 'appointment' appointment.id %}" class="btn btn-success btn-sm">Attend</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No appointments found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
